@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Blinker", sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* .bg-image-gradient{
  background-image: url("https://c4.wallpaperflare.com/wallpaper/707/220/899/gradient-blue-pink-abstract-art-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
} */